/* Default Setup */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    /* Variable Declarations */
    --mainColor: #283526;
    --primaryColor: #888888;
    --buttonBackground: #4b709e;
    --primaryButtonBackground: #fe7649;
    --backgroundColor: #e2efff;
}

h1,h2{
    color: var(--mainColor);
}

h3,h4{
    color: var(--mainColor);
}

h3{
    font-weight: 750;
    font-size: 2.2rem;
    line-height: 6rem;
    text-transform: capitalize;
}

p,a,li,button {
    font-family: "muli";
    color: var(--primaryColor);
}

p{
    font-size: 1.8rem;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}

a{
    text-decoration: none;
    cursor: pointer;
}

li{
    list-style: none;
}

button{
    padding: 0 1rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    line-height: 2.6rem;
    font-size: 2rem;
    text-transform: capitalize;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
}

/* Setup Navigation Bar */

header{
    padding: 0 10rem;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
}

/* Left Side Menu */
header nav .leftSideMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

header nav .leftSideMenu a img{
    width: 12rem;
    height: 5rem;
}

header nav .leftSideMenu .subMenu{
    display: flex;
    height: inherit;
}

header nav .leftSideMenu .subMenu a{
    margin-left: 1.8rem;
}

header nav .leftSideMenu .subMenu a li{
    font-size: 1.2rem;
    text-transform: capitalize;
    transition: all 0.2s;   
}

header nav .leftSideMenu .subMenu a li:hover{
    color: var(--buttonBackground);
}

/* Right Side Menu */
header nav .rightSideMenu{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

header nav .rightSideMenu button{
    margin-left: 1rem;
    background-color: var(--buttonBackground);
    color: white;
}

header nav .rightSideMenu button:hover{
    background-color: #3b6597; 
}

header nav .rightSideMenu a{
    font-size: 1.2rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
}

header nav .rightSideMenu a li:hover{
    color: var(--buttonBackground);
}

/* Hero Section */

.heroSection{
    padding: 0 10rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.heroSection .leftSideHero{
    width: 50%;
}

.heroSection .leftSideHero h1{
    font-size: 3.5rem;
    text-transform: capitalize;
}

.heroSection .leftSideHero p{
    margin-top: 2rem;
    font-size: 1.2rem;
    width: 75%;
}

.heroSection .leftSideHero .buttonGroup {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.heroSection .leftSideHero .buttonGroup a img{
    width: 11.5rem;
    height: 4rem;

}

.heroSection .leftSideHero .buttonGroup a .playStore{
    height: 3.6rem;
    position: relative;
    bottom: 3px;
    margin-left: 5px;
}

.heroSection .rightSideHero{
    width: 50%;
    background-color: var(--backgroundColor);
}

.heroSection .rightSideHero img{
    width: 100%;
    height: 100%;
}

/* Common Section CSS */
.commonSection{
    width: 100%;
    height: 35rem;
    display: flex;
    margin-top: 7rem;
    margin-bottom: 9rem;
    padding: 0 10rem;
    text-align: center;
}

/* Section 2 */
/* Section 2 Left Side */
.commonSection .leftSideSection2{
    width: inherit;
    height: inherit;
}

.commonSection .leftSideSection2 figure{
    background-color: #f3f9ff;
    border-radius: 20px;
    
}

.commonSection .leftSideSection2 img{
    width: 22rem;
    height: 30rem;
    border-radius: 2rem;
    margin-left: 4rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/* Section 2 Right Side */
.commonSection .rightSideSection2{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5rem;
}

.commonSection .rightSideSection2 h2{
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 4rem;
    text-transform: capitalize;
    margin-left: 1rem;
    margin-right: 1rem;
}

.commonSection .rightSideSection2 p{
    margin: 2rem 1rem;
    font-size: 1.2rem;
}

.commonSection .rightSideSection2 .commonButton{
    background-color: var(--primaryButtonBackground);
    color: white;
    padding: 0.5rem 2rem;
    margin-right: 0.7rem;
}

.commonSection .rightSideSection2 .commonButtonNormal{
    background-color: transparent;
    color: var(--mainColor);
    padding: 0.5rem 2rem;
}

.commonSection .rightSideSection2 .commonButton:hover{
    background-color: #e25121;
}

.commonSection .rightSideSection2 .commonButtonNormal:hover{
    color: #e25121;
}